header {
    height: 10%;
    width: 100%;
}

#nav-belt-1 {
    height: 10%;
}

.nav-left {
    display: flex;
}

#nav-logo {
    height: 7%;
    width: 7%;
    margin: 3px 10px;
}

#nav-belt-2 {
    display: flex;
    color: white;
    gap: 1rem;
}

.nav-belt-2-links {
    border: solid white;
}


/* Footer */
footer{
    margin-top: 15px;
    
}
.foot-panel1{
    background-color: rgb(55,71,90);
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot-panel2{
    background-color: rgb(35,47,62);
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 10px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: rgb(143,147,154);
}
.foot-panel3{
    background-color: rgb(35, 47, 62);
    color: white;
    border-top: 0.5px solid rgb(48,59,74);
    text-align: center;
    padding: 10px 0;
}
.image-container {
    margin-right: 10px;
}
.image-and-dropdown{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
 
  img {
    max-width: 50%;
    max-height: 10%; 
  }
  .globe-image{
    border: 1px solid white;
    display: flex;
    justify-content: center;
  }
  
.foot-panel4{
    background-color: rgb(19,26,34);
    color : white;
    height: 200px;
    font-size:0.7rem;
    text-align: center;
    justify-content: space-evenly;
}
ul {
        margin: 0 auto;
        max-width: 600px; 
        text-align: left;
}
.pages{
    padding-top: 25px;
}
.copyright{
    padding-top: 5px;
}
.countries_list {
    display: flex;
    justify-content: center;
}
.countries li {
    margin: 5px;
    list-style: none;
}
.countries {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px; 
    text-align: center;
}
.language-dropdown {
    margin-top: 5px;
    height: 10%; 

}

#language-select {
    padding: 2px;
    border-radius: 2px;
    background-color: rgb(35,47,62);
    color: white;
    border: 1px solid #ccc;
}


.table11 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
}

.row {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.col {
    flex: 0 0 calc(23% - 20px); 
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

.col a {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.col p {
    margin: 0 auto;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 2%;
    width: 100%;
}

a {
    text-decoration: none;
}

#nav-belt-1 {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: left;
    color: rgb(255, 254, 254);
    /* position: absolute; */
}


/* nav left css */
.nav-left {
    display: flex;
    gap: "10px";
}

#nav-logo {
    width: 90%;
    margin: 5px;
    padding: 2px 3px 0 6px;
}

#nav-logo-link {
    padding: 0;
    margin: 0;
}

#nav-left {
    display: flex;
}

.nav-belt-2-links {
    border: 1px solid white;
    /*remove after final commit */
}

.nav-belt-2-links {
    color: rgb(255, 254, 254);
}

/* nav left css */

/* nav middle css */

/* #nav-search-middle{
    display: flex;
    gap: 0;
    justify-content: center;
    border: solid white;
}

#nav-search .nav-search-dropdown{
    margin: 0;
    top: -1;
    margin: 0;
}

#nav-search-box-3{
    padding-left: 10px;
} */

.nav-link-selected::selection {
    border: 5px rgb(255, 147, 15) solid;
}

#nav-search-middle {
    display: flex;
    gap: 0;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    /* border: 3px solid tomato; */
}

#nav-search-box-1 {
    padding: 0;
    width: fit-content;
    display: flex;
    /* position: absolute; */
    left: 50%;
}

#searchDropdownBox {
    /* top: 5px; */
    /* border: 1rem solid black; */
    /* position: absolute; */
    background-color: rgb(230, 231, 231);
    padding: 14px 0;
    padding-left: 5px;
    border-radius: 5px 0 0 5px;
    /* width: auto; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: inherit;
    cursor: pointer;
    line-height: inherit;
    top: 25%;
    left: 50%;
}

#nav-search-box-3 {
    /* position: relative; */
    padding: 14px;
    top: 5px;
    background-color: rgb(255, 188, 105);
    border-radius: 0 5px 5px 0;
}

#nav-search-box-3:hover {
    background-color: rgb(255, 147, 15);
}

#nav-search-box-2>input {
    position: static;
    width: 10em;
    box-decoration-break: none;
    padding: 14px 20px;
    display: inline-block;
    box-sizing: border-box;
}


/* nav middle css */

/* nav right css */

.nav-right {
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    padding-top: 17px;
    gap: 1rem;
}

.nav-right-links {
    margin: auto;
    /* padding:; */
    color: rgb(255, 254, 254);
    height: 100%;
}

/* #acc-list{
    /* display: flex; 
    align-items: center;
    margin: auto;
    color:rgb(255, 254, 254);
} */

#acc-list-line-1 {
    font-size: small;
}

#acc-list-line-2 {
    font-weight: bold;
}


/* nav right css */

/* bottom nav belt css */
#nav-belt-2 {
    display: flex;
    color: rgb(255, 254, 254);
    position: left;
    align-items: center;
}

.nav-belt-2-links>a {
    /* border: 1px solid white; remove after final commit */
    color: rgb(255, 254, 254);
}

.nav-belt-2-links {
    margin-top: 1;
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    font-size: large;
}

/* bottom nav belt css */

/* general css */

#all-link {
    margin-left: 15px;
}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 2px solid rgb(255, 254, 254);
}

select {
    appearance: none;
    padding: 0;
    margin: 0;
    border: 0;
}

/* general css */

/* Footer */
footer {
    margin-top: 15px;

}

.foot-panel1 {
    background-color: rgb(55, 71, 90);
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.foot-panel2 {
    background-color: rgb(35, 47, 62);
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul {
    margin-top: 10px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: rgb(143, 147, 154);
}

.foot-panel3 {
    background-color: rgb(35, 47, 62);
    color: white;
    border-top: 0.5px solid white;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url("main_page_logo.png");
    background-size: cover;
    height: 70px;
    width: 200px;
}

.foot-panel4 {
    background-color: rgb(19, 26, 34);
    color: white;
    height: 100px;
    font-size: 0.7rem;
    text-align: center;
    justify-content: space-evenly;
}

ul {
    margin-top: 10px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: rgb(143, 147, 154);
}

.pages {
    padding-top: 25px;
}

.copyright {
    padding-top: 5px;
}